<div class="posts">
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <a class="blog-title-link" href="#">
          Why MVC is so important
        </a>
        <p>
          Posted by Xandromus on 5/8/2020
        </p> 
      </div>
    </header>
    <div class="card-content">
      <div class="content">
        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
      </div>
    </div>
  </div>
</div>