<nav>
     <h1 class="main-title">{{title}}</h1>
     <div class="menu-items">
        <a href="/">Home</a>
        {{#if loggedIn}}
          <a href="/dashboard">Dashboard</a>
          <a href="#" class="js-modal-trigger new-post-link" data-target="new-post">New Post</a>
          <!-- If the user is logged in, show a logout button -->
          <a href="/logout">Logout</a>
        {{else}}
          <!-- Otherwise, show a link to login -->
          <a href="#" class="js-modal-trigger" data-target="sign-in">Login</a>
        {{/if}}
      </div>
</nav>

{{!-- New Post --}}
<div id="new-post" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">

    <header class="modal-card-head new-post">
      <p class="modal-card-title title">Share your thoughts</p>
      <button class="delete" aria-label="close"></button>
    </header>

    <section class="modal-card-body new-post">
      <textarea class="textarea" placeholder="Title" rows="1" id="newpost-title"></textarea>
      <textarea class="textarea" placeholder="What's on your mind?" rows="10" id="newpost-text"></textarea>
    </section>

    {{!-- New post footer --}}
    <footer class="modal-card-foot new-post">
      <a class="is-success btn" id="newpost-submit">Create New Post</a>
    </footer>

  </div>
</div>

<div id="sign-in" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">

    <header class="modal-card-head sign-in">
      <p class="modal-card-title title">Log In</p>
      <button class="delete" aria-label="close"></button>
    </header>

    <section class="modal-card-body sign-in">

    {{!-- Log-in Username --}}
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Username" id="username-login">
            <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            <span class="icon is-small is-right"><i class="fas fa-check"></i></span>
          </p>
        </div>

    {{!-- Log-in Password --}}
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" id="password-login">
            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
          </p>
        </div>
    </section>

    {{!-- Log-in footer --}}
    <footer class="modal-card-foot sign-in">
      <a class=" login-button  btn p-2" id="login-submit">Log In</a>
      <a class="js-modal-trigger btn login-button p-2" data-target="sign-up" id="signupLink">Sign Up</a>
    </footer>
  </div>
</div>

{{!-- Sign-up form --}}
<div id="sign-up" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">

    <header class="modal-card-head sign-up">
      <p class="modal-card-title title">Sign Up</p>
      <button class="delete" aria-label="close"></button>
    </header>

    {{!-- Sign-up body --}}
    <section class="modal-card-body sign-up">

       

      {{!-- Username --}}
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="name" placeholder="username" id="username-signup">
            <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            <span class="icon is-small is-right"><i class="fas fa-check"></i></span>
          </p>
        </div>


      {{!-- Password --}}
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" id="password-signup">
            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
          </p>
        </div>

    </section>

    {{!-- Sign up button --}}
    <footer class="modal-card-foot submit_btn sign-up">
      <a class="login-button btn p-1" id="signup-submit">Sign up</a>
    </footer>

  </div>
</div>

{{!-- <nav class="columns is-flex is-flex-direction-column">
  <div class="navbar-menu is-flex column is-one-half">
      <div class="navbar-item is-hoverable">
          <a id="homeLink" href="#">Home</a>
          <a id="dashboardLink" href="#">Dashboard</a>
          <a id="loginLink" href="#">Login</a>
      </div>
  </div>
  
  <div class="navbar-brand column is-one-half">
      <h1>{{title}}</h1>
  </div>
</nav> --}}