<nav class="is-flex is-flex-direction-column">
  <div class="navbar-menu is-flex">
      <div class="navbar-item is-hoverable">
          <a id="homeLink">Home</a>
          <a id="dashboardLink">Dashboard</a>
          <a id="loginLink">Login</a>
      </div>
  </div>
  
  <div class="navbar-brand">
      <h1>The Tech Blog</h1>
  </div>
</nav>

