<nav class="navbar columns is-flex " role="navigation" aria-label="main navigation" id="top">
  <div class="navbar-brand column is-one-third">
      <img src="Logo-Updated.png" id="logo" alt="this is a man with a book for a head">
  </div>
  <h1 class="column is-one-third">My Daily Almanac</h1>
  <div class="navbar-menu column is-one-third">
      <div class="navbar-item is-hoverable navbar-end">
          <a id="edit-preferences"> Edit Preferences</a>
      </div>
  </div>
</nav>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Book Face</a>
</nav>
