<nav class="is-flex is-flex-direction-column">
  <div class="navbar-menu is-flex">
      <div class="navbar-item is-hoverable">
          <a id="homeLink" href="#">Home</a>
          <a id="dashboardLink" href="#">Dashboard</a>
          <a id="loginLink" href="#">Login</a>
      </div>
  </div>
  
  <div class="navbar-brand">
      <h1>{{title}}</h1>
  </div>
</nav>

