<nav class="columns is-flex is-flex-direction-column">
  <div class="navbar-menu is-flex column is-one-half">
      <div class="navbar-item is-hoverable">
          <a id="homeLink" href="#">Home</a>
          <a id="dashboardLink" href="#">Dashboard</a>
          <a id="loginLink" href="#">Login</a>
      </div>
  </div>
  
  <div class="navbar-brand column is-one-half">
      <h1>{{data.title}}</h1>
  </div>
</nav>

