{{> navbar }}

<div class="row justify-space-between-md">
  <div class="post-create-card">
    <h2 class="page-title" id="page-title">Create New Post</h2>

    <form class="form post-form">
      <div class="form-group">
        <label for="post-title-create">Title</label>
        <input class="form-input" type="text" id="post-title-create" />
      </div>
      <div class="form-group">
        <label for="post-content-create">Content</label>
        <input class="form-input" type="text" id="post-content-create" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
    </form>
  </div>
  

<script src="/js/createPost.js"></script>