{{> navbar }}
<section class="container">
   <section class="flex-row justify-center">
{{> homepage-details  }}
  </section>
{{!-- <button class="btn btn-primary btn-new-post" onclick="window.location.href='/post/create'">+ New Post</button> --}}
</section>
{{!-- <script src="/js/dashboard.js"></script> --}}
